<!DOCTYPE html>

<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title>Organizations</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div style="margin: 0; padding: 0" class="container-fluid">
            <nav class="navbar navbar-expand-sm navbar-dark bg-primary sticky-top pl-5">
              <a class="navbar-brand" href="main">REPORT SIGHTING</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="supers">Supers</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="powers">Powers</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="orgs">Orgs</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="locations">Locations</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="sightings">Sightings</a>
                  </li>
                </ul>
              </div>
            </nav>            
            <div class="row bg-primary pb-4">
                <div class="offset-1 col-lg-7 col-md-9">
                    <h1 class="display-1 text-white">Organizations</h1>
                </div>
                
            </div>
            <div class="row">
                <div class="offset-1 col-sm-8 col-md-6 col-lg-5">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Location</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="org : ${orgs}">
                                <td th:text="${org.name}">name</td>
                                <td th:text="${org.description}">description</td>
                                <td th:text="${org.location}">location</td>
                                <td><a href="#" th:href="@{editOrg(powerID=${org.orgID})}">edit</a></td>
                                <td><a href="#" th:href="@{deleteOrg(powerID=${org.orgID})}">delete</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <form action="addOrg" method="POST" class="mt-5 offset-sm-1">
                        <h1 class="display-4">Add Organization</h1>
                        <div class="form-group">
                            <label for="name">Name</label><br/>
                            <input type="text" th:value="${org.name}" id="name" name="name" />
                        </div>
                        <div class="form-group">
                            <label for="desc">Description</label><br />
                            <input type="text" th:value="${org.description}" id="desc" name="description" />
                        </div>
                        <div class="form-group">
                            <label for="address">Location</label><br />
                            <input type="text" th:value="${org.location}" id="desc" name="location" />
                        </div>
                        <input type="hidden" name="powerID" th:value="${org.orgID}"/>
                        <br>
                        <input class="btn btn-success btn-sm" type="submit" value="ADD ORGANIZATION" />
                        <a class="btn btn-danger btn-sm" href="/orgs">CANCEL</a>
                    </form>                    
                </div>
                
            </div>
        </div>
    </body>
    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>
